---
// Components
import ProjectLogo from "./ProjectLogo.astro";
import SquareButton from "./SquareButton.astro";
import Technologies from "./Technologies.astro";

// Styles
import "../styles/projects.scss";

// Types
import type { Project } from "../models/types/project.type";

// Translations
import projectsTranslations from "../locales/projects.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = projectsTranslations[lang];

// Images
import gitHubImage from "../images/social/GitHub.png";
import behanceImage from "../images/social/Behance.png";
import openImage from "../images/Open.png";
import galleryImage from "../images/Gallery.png";
import { Image } from "astro:assets";

const { project } = Astro.props as { project: Project };
---

<div
  class="project-card thin-border bg-cover aspect-square overflow-hidden rounded-xl md:rounded-2xl"
>
  <Image class="absolute rounded-xl md:rounded-2xl" src={project.background} alt="" />
  <div class="wrapper aspect-square">
    <div class="card-overlay"></div>
    <div class="content relative flex aspect-square flex-col gap-2 py-4">
      <div class="flex items-center gap-4 px-4 sm:mb-6">
        <ProjectLogo project={project} />
        <div class="flex flex-col">
          <div class="font-semibold text-white text-2xl">
            {project.name}
          </div>
          <span class="text-slate-300 text-sm md:text-base">
            {translations[project.path].subtitle}
          </span>
        </div>
      </div>
      <div class="relative flex-1 px-4">
        <span
          id={`description-${project.path}`}
          class="text-slate-100 font-light text-pretty description"
          set:html={translations[project.path].description}
        />
        &nbsp;
        <button
          id={`view-more-${project.path}`}
          class="small-button view-more hidden"
        >
          {translations.more}
        </button>
      </div>
      <div id={`technologies-${project.path}`} class="px-4">
        <Technologies technologies={project.technologies} />
      </div>
      <div class="grid grid-cols-3 gap-1 sm:gap-3 px-4 zd">
        {
          project.github && (
            <SquareButton
              id="github"
              image={gitHubImage}
              label="GitHub"
              project={project}
              url={project.github}
            />
          )
        }
        {
          project.behance && (
            <SquareButton
              id="behance"
              image={behanceImage}
              label="Behance"
              project={project}
              url={project.behance}
            />
          )
        }
        <SquareButton
          id="gallery"
          image={galleryImage}
          label={translations.images}
          project={project}
        />
        <SquareButton
          id="open"
          image={openImage}
          label={translations.open}
          project={project}
          url={project.url}
        />
      </div>
    </div>
  </div>
</div>
