---
// Components
import { Icon } from "astro-icon/components";
import ScrollableGallery from "./ScrollableGallery.astro";
import SimpleGallery from "./SimpleGallery.astro";

// Styles
import "swiper/css";
import "swiper/css/navigation";

// Types
import type { Project } from "../models/types/project.type";

// Translations
import projectsTranslations from "../locales/projects.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = projectsTranslations[lang];

const { project } = Astro.props as { project: Project };
---

<button
  id={`${project.path}-gallery-close-button`}
  class="top-4 right-4 z-10 absolute outline-offset-2 rounded-full text-red-400 hover:text-red-500 focus-visible:text-red-500 transition-colors"
  aria-label={translations.closeGallery}
>
  <Icon name="close" class="text-2xl" />
</button>
<div id={`${project.path}-gallery-swiper`} class="flex h-full swiper">
  {
    project.galleryImages.length > 1 && (
      <button
        class="ml-2 w-5 h-5 swiper-button-prev outline-offset-2"
        id={`${project.path}-prev`}
        aria-label={translations.prevImage}
      />
    )
  }
  <div class="swiper-wrapper">
    {
      project.galleryImages.map((image, index) => (
        <div class="h-full swiper-slide" data-slide={index}>
          {project.scrollablePrototype ? (
            <ScrollableGallery
              image={image}
              project={project}
              index={index.toString()}
            />
          ) : (
            <SimpleGallery
              image={image}
              projectPath={project.path}
              index={index.toString()}
            />
          )}
        </div>
      ))
    }
  </div>
  {
    project.galleryImages.length > 1 && (
      <button
        class="mr-2 w-5 h-5 swiper-button-next outline-offset-2"
        id={`${project.path}-next`}
        aria-label={translations.nextImage}
      />
    )
  }
</div>
