---
import { Image } from "astro:assets";

import behanceLogo from "../images/social/Behance.png";
import dribbbleLogo from "../images/social/Dribbble.png";
import githubLogo from "../images/social/GitHub.png";
import linkedinLogo from "../images/social/LinkedIn.png";

const contactLinks = [
  {
    title: "Behance",
    image: behanceLogo,
    href: "http://www.behance.net/valentin_nicheglod",
  },
  {
    title: "Dribbble",
    image: dribbbleLogo,
    href: "https://dribbble.com/valentin_nicheglod",
  },
  {
    title: "GitHub",
    image: githubLogo,
    href: "https://github.com/ValentinNicheglod",
  },
  {
    title: "LinkedIn",
    image: linkedinLogo,
    href: "https://www.linkedin.com/in/valentin-nicheglod/",
  },
];

const { size } = Astro.props;
---

<div class="flex gap-4" class:list={{ "justify-between": size === "large" }}>
  {
    contactLinks.map((link) => (
      <a
        href={link.href}
        target="_blank"
        rel="noreferrer noopener"
        name={link.title}
        class="aspect-square transition-transform hover:scale-110 duration-500"
        class:list={{
          "w-11 md:w-12": !size,
          "w-8 md:w-9": size === "small",
          "w-14 md:w-15": size === "large",
        }}
      >
        <Image
          src={link.image}
          alt={`${link.title} icon`}
          class="dark-opacity"
        />
      </a>
    ))
  }
</div>
<script>
  import tippy from "tippy.js";
  import "tippy.js/dist/tippy.css";
  import 'tippy.js/animations/scale.css';

  const buttons = ["Behance", "Dribbble", "GitHub", "LinkedIn"];
  buttons.forEach((title) => {
    tippy(`[name="${title}"]`, {
      content: title,
      placement: 'bottom',
      arrow: false,
      animation: 'scale',
      duration: 250
    });
  });
</script>
