---
import { Icon } from "astro-icon/components";

const { label, image, url, project, id } = Astro.props;
import "../styles/buttons.scss";
---

<button
  class="square-button"
  id={project && (url ? `${project.path}-${id}-button` : `${project.path}-gallery-button`)}
>
  <div class="flex justify-between w-full">
    <img src={`src/images/${image}`} />
    <div>
      <div class="chevron">
        {url && <Icon name="external-link" class="icon link-icon" />}
        <Icon name="chevron-right" class="icon" />
      </div>
    </div>
  </div>
  <span class="font-medium button-label">
    {label}
  </span>
</button>
