---
import { technologiesWithOwnBG } from "../models/constants";
import { Image } from "astro:assets";

// Translations
import projectsTranslations from "../locales/projects.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = projectsTranslations[lang];

const { technologies, titleId } = Astro.props as {
  technologies: { name: string; image: ImageMetadata }[];
  titleId: string;
};

const iconHasOwnBackground = (techName: string) => {
  return technologiesWithOwnBG.has(techName);
};
---

<article
  class="flex justify-between items-center xs:border-slate-300 xs:bg-slate-100 xs:p-2 pb-1 xs:rounded-lg"
  aria-labelledby={titleId}
  role="group"
>
  <h4 id={titleId} class="font-light text-sm text-white xs:text-slate-600">
    {translations.technologies}
  </h4>
  <ul class="flex gap-1 xs:gap-2">
    {
      technologies.map((technology) => (
        <li
          class="rounded-full transition-transform hover:-translate-y-1 overflow-hidden technology"
          class:list={{
            "p-1.5 bg-neutral-200": !iconHasOwnBackground(technology.name),
          }}
          data-tooltip={technology.name}
          aria-label={technology.name}
          tabindex="0"
        >
          <Image
            src={technology.image}
            alt=""
            class:list={{
              "w-5 h-5 sm:w-6 sm:h-6": !iconHasOwnBackground(technology.name),
              "w-8 h-8 sm:w-9 sm:h-9": iconHasOwnBackground(technology.name),
            }}
          />
        </li>
      ))
    }
  </ul>
</article>
