---
// Components
import { Icon } from "astro-icon/components";
import GradientBackground from "../components/ui/GradientBackground.astro";
import SocialLinks from "../components/SocialLinks.astro";
import SquareButton from "../components/SquareButton.astro";

// Styles
import "../styles/buttons.scss";

// Enums
import { Emojis } from "../models/enums/emojis.enum";

// Translations
import contactTranslations from "../locales/contact.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = contactTranslations[lang];

// Images
import mailImage from "../images/Mail.png";
---

<section id="contact" class="relative bg-white overflow-hidden">
  <div class="flex flex-col p-6 md:p-12 xl:p-16">
    <GradientBackground sectionId="contact" />
    <div class="relative xl:container xl:mx-auto">
      <div class="sm:justify-items-center gap-12 lg:gap-24 grid">
        <header>
          <div class="sm:block hidden">
            <h2 class="font-bold text-3xl text-white md:text-4xl">
              {translations.sectionTitle}
            </h2>
          </div>
          <div class="flex items-center gap-4 sm:hidden">
            <div class="dark:opacity-90 text-5xl" set:html={Emojis.Mail} />
            <h2 class="font-bold text-3xl text-white md:text-4xl">
              {translations.shortSectionTitle}
            </h2>
          </div>
        </header>

        <div class="flex justify-center md:hidden">
          <SocialLinks />
        </div>
        <div class="md:block hidden w-2/5">
          <SocialLinks size="large" />
        </div>

        <article
          class="sm:block hidden rounded-3xl w-full lg:w-4/5 inner-container"
        >
          <div class="justify-center gap-8 grid px-8 lg:px-12 xl:px-16 py-8">
            <div class="gap-4 grid">
              <header>
                <h3 class="font-semibold text-3xl text-center dark:text-white">
                  {translations.sectionSubtitle}
                </h3>
              </header>
              <span class="text-balance text-center dark:text-slate-300">
                {translations.content}
              </span>
            </div>
            <a
              href="mailto:valentinnicheglod1@gmail.com"
              class="flex items-center gap-3 hover:gap-12 focus-visible:gap-12 m-auto p-3 hover:pr-6 focus-visible:pr-6 rounded-full contact-button outline-offset-2"
            >
              <div class="bg-white p-1 rounded-full">
                <Icon
                  name="send"
                  class="mt-0.5 mr-0.5 text-secondary text-xl"
                />
              </div>
              <div class="pb-0.5 font-medium text-white text-xl">
                {translations.sendEmail}
                &nbsp;&nbsp;
              </div>
            </a>
          </div>
        </article>
        <article class="justify-center gap-6 sm:hidden grid w-full">
          <header>
            <h3 class="font-semibold text-white text-xl">
              {translations.sectionSubtitle}
            </h3>
          </header>
          <div class="flex gap-4">
            <p class="text-pretty text-slate-200 text-sm">
              {translations.shortContent}
            </p>
            <a
              href="mailto:valentinnicheglod1@gmail.com"
              class="flex items-end"
            >
              <SquareButton image={mailImage} label={translations.sendEmail} />
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
