---
import { Icon } from "astro-icon/components";
import SocialLinks from "../components/SocialLinks.astro";
import heroTranslations from "../locales/hero.locales.json";
import { Emojis } from "../models/enums/emojis.enum";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = heroTranslations[lang];
---

<footer class="container-background">
  <div class="px-8 md:px-12 xl:px-16 pb-3">
    <div class="grid grid-flow-col justify-between items-center">
      <div class="flex items-center gap-4">
        <div class="inner-container p-2 rounded-full bg-white h-fit">
          <img class="mr-1 mb-1" src="/logo.svg" alt="" />
        </div>
        <div>
          <h4 class="text-2xl font-bold mb-2">Valentín Nicheglod</h4>
          <div class="flex items-center gap-2">
            <div class="text-sm" set:html={Emojis.Developer} />
            <p class="text-sm opacity-75">{translations.developer}</p>
          </div>
          <div class="flex items-center gap-2">
            <div class="text-sm" set:html={Emojis.Designer} />
            <p class="text-sm opacity-75">{translations.designer}</p>
          </div>
        </div>
      </div>
      <div class="grid gap-8 pt-6 md:pt-8 xl:pt-12">
        <div class="flex h-full divide-x">
          <div class="grid gap-6 pr-8">
            <div class="flex-1">
              <SocialLinks size="small" />
            </div>
            <p class="text-sm">
              {translations.madeWithLove} <strong>Astro</strong> y <strong
                >Tailwind CSS</strong
              >.
            </p>
          </div>
          <div class="flex pl-4">
            <button
              id="go-top-button"
              class="opacity-75 hover:opacity-100 transition-all"
            >
              <Icon size="32" name="arrow-up-circle" />
            </button>
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-xs opacity-50">
            © {new Date().getFullYear()} Valentín Nicheglod | Portfolio
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  const goTopButton = document.getElementById("go-top-button");
  goTopButton?.addEventListener("click", () =>
    window.scrollTo({ top: 0, behavior: "smooth" })
  );
</script>
