---
// Components
import ScrollInstruction from "../components/ScrollInstruction.astro";

// Enums
import { Emojis } from "../models/enums/emojis.enum";

// Translations
import heroTranslations from "../locales/hero.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = heroTranslations[lang];

// Assets
import { Image } from "astro:assets";
import background from "../images/HeroBackground.jpg";
---

<section id="hero" class="relative flex flex-col h-dvh" role="banner">
  <ScrollInstruction lang={lang} />
  <Image
    src={background}
    alt={translations.bgAlt}
    loading="eager"
    class="absolute w-screen h-screen object-cover"
  />

  <div class="z-10 flex flex-1 items-center mx-auto p-8 container">
    <div class="flex flex-col gap-8 md:w-fit">
      <article class="bg-white rounded-xl sm:rounded-3xl inner-container">
        <div class="flex items-center gap-6 sm:gap-8 p-6 sm:p-8">
          <div class="text-6xl sm:text-7xl" set:html={Emojis.HandWave} />
          <div class="gap-3 grid">
            <span class="text-base text-gray sm:text-lg">
              {translations.presentation}
            </span>
            <h1
              class="font-bold text-3xl text-primary md:text-4xl"
              translate="no"
            >
              Valentín Nicheglod
            </h1>
            <h2 class="sr-only">
              {translations.developer} & {translations.designer}
            </h2>
          </div>
        </div>
      </article>

      <div class="gap-4 grid">
        <article
          class="bg-white rounded-xl sm:rounded-3xl inner-container"
          tabindex="0"
        >
          <div class="flex items-center gap-6 px-6 sm:px-8 py-3 sm:py-4">
            <div
              class="text-3xl sm:text-4xl md:text-5xl"
              set:html={Emojis.Developer}
            />
            <h3 class="text-lg text-slate-800 sm:text-xl md:text-2xl">
              {translations.developer}
            </h3>
          </div>
        </article>

        <article
          class="bg-white rounded-xl sm:rounded-3xl inner-container"
          tabindex="0"
        >
          <div class="flex items-center gap-6 px-6 sm:px-8 py-3 sm:py-4">
            <div
              class="text-3xl sm:text-4xl md:text-5xl"
              set:html={Emojis.Designer}
            />
            <h3 class="text-lg text-slate-800 sm:text-xl md:text-2xl">
              {translations.designer}
            </h3>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="bottom-0 absolute bg-gradient w-full h-1" aria-hidden="true">
  </div>
</section>
