---
// Components
import ScrollInstruction from "../components/ScrollInstruction.astro";

// Enums
import { Emojis } from "../models/enums/emojis.enum";

// Translations
import heroTranslations from "../locales/hero.locales.json";
const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = heroTranslations[lang];

// Images
import { Image } from "astro:assets";
import background from "../images/HeroBackground.jpg"
---

<section id="hero" class="relative flex flex-col h-dvh">
  <h1 class="relative text-xs opacity-0 -z-30">Valentín Nicheglod</h1>

  <ScrollInstruction lang={lang} />
  <Image src={background} alt="" loading="eager" class="absolute w-screen h-screen object-cover" />

  <div class="container mx-auto flex flex-1 items-center p-8 md:p-0 z-10">
    <div class="flex flex-col gap-8 md:w-fit">
      <div class="inner-container rounded-xl sm:rounded-3xl bg-white">
        <div class="flex items-center gap-6 sm:gap-8 p-6 sm:p-8">
          <div class="text-6xl sm:text-7xl" set:html={Emojis.HandWave} />
          <div class="grid gap-3">
            <span class="text-base sm:text-lg text-gray">
              {translations.presentation}
            </span>
            <div class="text-3xl md:text-4xl font-bold text-primary">Valentín</div>
          </div>
        </div>
      </div>

      <div class="grid gap-4">
        <div class="inner-container rounded-xl sm:rounded-3xl bg-white">
          <div class="flex items-center gap-6 px-6 sm:px-8 py-3 sm:py-4">
            <div
              class="text-3xl sm:text-4xl md:text-5xl"
              set:html={Emojis.Developer}
            />
            <h2 class="text-lg sm:text-xl md:text-2xl text-slate-800">
              {translations.developer}
            </h2>
          </div>
        </div>

        <div class="inner-container rounded-xl sm:rounded-3xl bg-white">
          <div class="flex items-center gap-6 px-6 sm:px-8 py-3 sm:py-4">
            <div
              class="text-3xl sm:text-4xl md:text-5xl"
              set:html={Emojis.Designer}
            />
            <h2 class="text-lg sm:text-xl md:text-2xl text-slate-800">
              {translations.designer}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 w-full h-1 bg-gradient"></div>
</section>
