---
import { Icon } from "astro-icon/components";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectGallery from "../components/ProjectGallery.astro";
import { projectsData } from "../data/projects.data";
import projectsTranslations from "../locales/projects.locales.json";
import { ProjectFilters } from "../models/enums/filters.enum";

import "../styles/filters.scss";
import "../styles/dialog.scss";
import "swiper/css";

const lang: "en" | "es" = Astro.currentLocale as "en" | "es";
const translations = projectsTranslations[lang];

const filterOptions = [
  {
    label: "Todos",
    value: ProjectFilters.ALL,
  },
  {
    label: translations.design,
    value: ProjectFilters.DESIGN,
  },
  {
    label: translations.dev,
    value: ProjectFilters.DEV,
  },
];
---

<section id="projects" class="flex flex-col p-8 md:p-12 xl:p-16">
  <div class="flex justify-between py-10">
    <h2 class="title">Proyectos</h2>
    <div id="projects-filter" class="filters bg-slate-200">
      {
        filterOptions.map((option) => (
          <button
            id={`project-filter-${option.value}`}
            class:list={{ selected: option.value === 0 }}
            data-value={option.value}
          >
            {option.label}
          </button>
        ))
      }
      <div class="absolute w-full h-full p-1">
        <div id="projects-filter-indicator" class="indicator"></div>
      </div>
    </div>
  </div>
  <div class="flex-1 content-center">
    <div id="projects-swiper" class="swiper">
      <div class="swiper-wrapper">
        {
          projectsData.map((project, index) => (
            <div class="swiper-slide" data-type={project.type}>
              <ProjectCard project={project} index={index} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
<script src="../scripts/projects.scripts.ts"></script>
